@import "../../styles/utils/colors";

.selectionBox {
  position: relative;
  width: 160px;
  overflow: hidden;
  padding: 8px 8px 20px 8px;
  background-color: white;
  display: inline-block;
  border: solid 1px $elephant-paw;
  border-radius: 5px;
  text-align: center;
  &--image {
    display: block;
    width: inherit;
    padding-bottom: 8px;
  }
  &--text {
    font-size: 1em;
    font-weight: 600;
  }
  input {
    position: absolute;
    left: 4px;
  }
}
